body {
    background-color: bisque;
}
h1 {
    color: white;
    text-align: center;
    font-size: 12pt;
  }
p {
    color:white;
    font-size: 12pt;
}
#scottish{
    background-color: azure;  
    color: black;  
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#savannah{
    background-color: white;  
    color: black;  
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#bengali{
    background-color:greenyellow ;  
    color: black;  
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 